defaults
  default-server init-addr last,libc,none
  log stdout format raw daemon debug

  timeout client  30s
  timeout server  30s
  timeout connect 5s
  timeout http-request 30s
  option tcplog

listen http
  bind *:80
  mode http
  http-request redirect scheme https

listen traffic
  bind *:443     # Traefik
  bind *:20000   # MC
  mode tcp
  server home 10.69.0.2 send-proxy

listen terraria
  bind *:10069
  mode tcp
  server home 10.69.0.2
